@import url(https://fonts.googleapis.com/css?family=Ubuntu&display=swap);body {
  background-color: #000;
}

body p {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

body a {
  color: #fff;
  text-decoration: none;
}

body h5 {
  font-family: 'zorqueregular';
}

body .welcome_btn_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0 4rem 0;
}

body .welcome_btn_cnt .welcome_btn {
  border: 1px solid #b3cfdd;
  padding: 0.8rem 2.6rem;
  text-align: center;
  color: #b3cfdd;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

body .new_btn_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5rem 0;
  margin: 0 auto;
  width: 80%;
}

body .new_btn_cnt .new_btn {
  border: 1px solid #fff;
  padding: 0.5rem 2rem;
  text-align: center;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}

body .new_btn_cnt .new_btn span {
  padding-right: .5rem;
}

body .nav-link:hover {
  color: #b3cfdd !important;
}

body .login_nav:hover {
  border: 1px solid #b3cfdd;
  color: #b3cfdd;
}

body .welcome_btn:hover {
  background-color: #b3cfdd;
  color: #000;
  text-decoration: none;
}

body .all_posting_btn:hover {
  border: 1px solid #fff;
  color: #fff;
}

body .category_cnt a:hover {
  border: 1px solid #fff !important;
  color: #fff !important;
}

body .nav-item {
  padding-right: 3rem;
}

body .nav-link {
  font-family: 'zorqueregular';
  color: #fff !important;
  font-size: 20px;
}

body .navbar-brand img {
  width: 8rem;
}

body .diablo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  line-height: 3rem;
}

body .diablo_header {
  color: #fff;
  text-align: center;
  padding-bottom: 3rem;
}

.navbar {
  padding: 1rem 5rem;
}

.bg-dark {
  background-color: #000 !important;
  -webkit-box-shadow: 0 0 20px 0 #434343;
          box-shadow: 0 0 20px 0 #434343;
}

.login_nav {
  border: 1px solid #fff;
  border-radius: 5px;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: none;
}

.dropdown-menu {
  background-color: #000;
  border: 1px solid #fff;
}

.dropdown-menu li {
  padding: 1rem .5rem;
}

.dropdown-menu li a {
  font-family: 'zorqueregular';
}

.index_header_img img {
  width: 100%;
}

.main_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 3rem;
}

.main_cnt .category_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 4rem;
}

.main_cnt .category_cnt .all_posting_btn {
  border: 1px solid grey;
  border-radius: 5px;
  color: grey;
  text-align: center;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
}

.main_cnt .category_cnt .category_btn {
  border: 1px solid grey;
  border-radius: 5px;
  color: grey;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-wrap: break-word;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
}

.main_cnt .category_cnt .category_btn p {
  margin: 0;
}

.diablo-cnt {
  padding-bottom: 5rem;
}

.diablo-cnt div {
  padding-bottom: 2rem;
  width: 30%;
}

.diablo-cnt div img {
  width: 100%;
}

.diablo-cnt h2 {
  color: #fff;
}

.diablo_img {
  text-align: center;
  padding-bottom: 5rem;
  margin: 0 auto;
  width: 40%;
}

.diablo_img img {
  width: 100%;
}

.body {
  padding-bottom: 0.5rem;
}

.body p {
  color: #fff;
}

.beitrag_cnt {
  margin: 0 auto;
  width: 90%;
}

.beitrag_cnt .beitrag_leer {
  font-size: 1.8rem;
  font-family: 'zorqueregular';
  text-align: center;
  padding-top: 4rem;
}

.posting_cnt:nth-child(odd) {
  background-color: #161616;
}

.posting_cnt {
  padding: 1.5rem 0;
}

.posting_cnt .posting_items {
  margin: 0 auto;
  width: 95%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.posting_cnt .posting_items a {
  color: #fff !important;
}

.comments {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments a:first-child {
  padding-right: 2.5rem;
}

.comments a:nth-child(2) {
  border-left: 1px solid #fff;
  padding-left: 2.5rem;
}

.text-center a {
  text-decoration: none !important;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}

.text-center a:hover {
  color: #a71717 !important;
  border-bottom: 1px solid #a71717;
}

.show_img_cnt {
  text-align: center;
  padding: 4rem 0 4rem 0;
}

.show_cnt {
  background-color: #161616;
  margin: 0 auto;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.show_cnt .show_beitrag {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show_cnt .show_beitrag .profil_cnt {
  padding-right: 4rem;
}

.show_cnt .show_beitrag .profil_cnt div {
  text-align: center;
}

.posting_delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
  width: 90%;
  padding: 1.5rem 0;
}

.posting_delete button {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  background-color: #161616;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.comment_header {
  padding: 3rem 0;
  margin: 0 auto;
  width: 88%;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
}

.new_reply_cnt {
  margin: 0 auto;
  width: 90%;
}

.new_reply_cnt .reply_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new_reply_cnt .reply_cnt .reply_background {
  background-color: #161616;
  margin: 0 auto;
  width: 100%;
}

.new_reply_cnt .reply_cnt .reply_background .text_area_sect {
  margin: 0 auto;
  width: 80%;
  padding: 1.5rem 0;
}

.new_reply_cnt .reply_cnt .reply_background .text_area_sect .text_area {
  color: #fff;
  background-color: #161616;
  width: 100%;
  height: 70px;
  padding: 1rem;
  border: 1px solid #fff;
  opacity: 0.4;
}

.new_reply_cnt .reply_cnt button {
  color: #b3cfdd;
  border: 1px solid #b3cfdd;
  border-radius: 5%;
  padding: .8rem 6rem;
  font-family: "Ubuntu", sans-serif;
  margin: 1rem;
}

.replies_background {
  padding-bottom: 3rem;
}

.replies_background:nth-child(even) {
  background-color: #161616;
}

.panel {
  padding-top: 3rem;
}

.panel .panel-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.panel .panel-heading .replies_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panel .panel-heading .replies_cnt .replies_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel .panel-heading .replies_cnt .replies_items a {
  color: #fff !important;
}

.panel .panel-heading .replies_cnt .replies_items h5 {
  padding-right: 1rem;
}

.panel .favorite_btn {
  padding-bottom: 1.2rem;
}

.panel .favorite_btn .fa-heart {
  padding-right: .5rem;
}

.panel .panel-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 1rem;
}

.panel .panel-footer .reply_delete_btn {
  background: #000;
  border: none;
  color: #fff;
}

.panel .panel-footer button:nth-child(1) {
  color: #fff;
  border: 1px solid #b3cfdd;
  color: #b3cfdd;
}

.create_cnt {
  margin: 0 auto;
  width: 85%;
  padding: 5rem 0;
}

.create_cnt h3 {
  color: #fff;
  font-family: 'zorqueregular';
}

.create_cnt form {
  padding: 2rem 0;
}

.create_cnt form label {
  padding-bottom: 1.5rem;
}

.create_cnt form .category_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2rem;
}

.create_cnt form .category_input label {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
}

.create_cnt form .category_input select {
  width: 90%;
  border: none;
  padding: 1rem 0;
}

.create_cnt form .titel_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0;
}

.create_cnt form .titel_input label {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
}

.create_cnt form .titel_input input {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #000;
  width: 90%;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  outline: none;
  padding: .5rem;
}

.create_cnt form .text_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2rem;
}

.create_cnt form .text_input label {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
}

.create_cnt form .text_input textarea {
  background-color: #161616;
  border: 1px solid #161616;
  color: #fff;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  padding: .5rem;
  outline: none;
}

.create_cnt form .create_btn button {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: .6rem 4rem;
  background-color: #000;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

.porfile_diablo_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 2.5rem 0;
}

.profile_cnt {
  padding: 4rem 0;
  margin: 0 auto;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile_cnt .profile_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3rem;
  border-bottom: 1px solid #fff;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile_cnt .profile_name h3 {
  color: #fff;
  font-family: 'zorqueregular';
  padding-right: 15rem;
}

.profile_cnt .profile_name p {
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
}

.profile_cnt .profile_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile_cnt .profile_items h4 {
  color: #fff;
  font-family: 'zorqueregular';
  padding-right: 15rem;
}

.profile_cnt .profile_items p {
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
}

.profile_cnt .profile_leer {
  text-align: center;
  padding: 2rem 0;
}

.profile_cnt .datum {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  padding: 2rem 0;
}

.profile_cnt .activity_cnt {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile_cnt .activity_cnt p {
  padding-right: 1rem;
  margin: 0;
}

.profile_cnt .activity_cnt .activity_items {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-decoration: none !important;
}

.profile_cnt .activity_cnt:nth-child(odd) {
  background-color: #161616;
}

.login_img_cnt img {
  width: 100%;
}

.login_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 3rem;
}

.login_cnt .login_form h2 {
  font-family: 'zorqueregular';
  color: #fff;
  padding-bottom: 1rem;
}

.login_cnt form .textfield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
}

.login_cnt form .textfield label {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.login_cnt form .textfield input {
  background-color: #000;
  border: none;
  border-bottom: 1px solid #fff;
  padding-bottom: .5rem;
  color: #fff;
  outline: none;
}

.login_cnt form .checkbox {
  padding-top: 1.5rem;
}

.login_cnt form .checkbox label {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

.login_cnt form .login_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_cnt form .login_btn button {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: .6rem 4rem;
  background-color: #000;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

.login_cnt form .login_btn button:hover {
  margin: 0;
  font-size: 1.2rem;
  height: 50px;
  width: 260px;
}

.login_cnt form .login_btn a {
  padding-top: 1rem;
}

.login_cnt .register_sctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login_cnt .register_sctn p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.login_cnt .register_sctn a {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: .6rem 4rem;
  background-color: #000;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

.welcome_cnt {
  padding: 5rem 0;
}

.welcome_cnt p {
  text-align: center;
  font-size: 2rem;
  font-family: 'zorqueregular';
}

.welcome_img {
  padding-bottom: 2rem;
}

.welcome_img img {
  width: 100%;
}

footer {
  padding: 2rem 0;
  -webkit-box-shadow: 0 0 20px 0 #434343;
          box-shadow: 0 0 20px 0 #434343;
}

footer .footer_cnt {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .footer_cnt .footer_contact {
  padding-bottom: 1.5rem;
}

footer .footer_cnt .footer_contact a:first-child {
  padding-right: 4rem;
}

footer .footer_cnt .footer_logo_img {
  padding-bottom: 1.5rem;
}

footer .footer_cnt .footer_social_media {
  padding-bottom: 1.5rem;
}

footer .footer_cnt .footer_social_media a:first-child {
  padding-right: 4rem;
}

