@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@font-face {
  font-family: "zorqueregular";
  src: url(".../fonts/zorque.woff2") format("woff2"), url("../fonts/zorque.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #000;
}
body p {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}
body a {
  color: #fff;
  text-decoration: none;
}
body h5 {
  font-family: "zorqueregular";
}
body .welcome_btn_cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
body .welcome_btn_cnt .welcome_btn {
  border: 1px solid #b3cfdd;
  padding: 0.8rem 2.6rem;
  text-align: center;
  color: #b3cfdd;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}
body .new_btn_cnt {
  display: flex;
  justify-content: flex-end;
  padding: 5rem 0;
  margin: 0 auto;
  width: 80%;
}
body .new_btn_cnt .new_btn {
  border: 1px solid #fff;
  padding: 0.5rem 2.6rem;
  text-align: center;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
}
body .nav-item {
  padding-right: 3rem;
}
body .nav-link {
  font-family: "zorqueregular";
  color: #fff !important;
  font-size: 20px;
}
body .nav-link:hover {
  color: #851f1f !important;
}
body .navbar-brand img {
  width: 8rem;
}
body .diablo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  line-height: 3rem;
}
body .diablo_header {
  color: #fff;
  text-align: center;
  padding-bottom: 3rem;
}

.navbar {
  padding: 1rem 5rem;
}

.bg-dark {
  background-color: #000 !important;
  box-shadow: 0 0 20px 0 #434343;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: none;
}

.index_header_img img {
  width: 100%;
}

.main_cnt {
  display: flex;
  flex-wrap: wrap;
}
.main_cnt .category_cnt {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}

.diablo-cnt {
  padding-bottom: 5rem;
}
.diablo-cnt div {
  padding-bottom: 2rem;
  width: 30%;
}
.diablo-cnt div img {
  width: 100%;
}
.diablo-cnt h2 {
  color: #fff;
}

.diablo_img {
  text-align: center;
  padding-bottom: 5rem;
  margin: 0 auto;
  width: 40%;
}
.diablo_img img {
  width: 100%;
}

.body {
  padding-bottom: 0.5rem;
}
.body p {
  color: #fff;
}

.beitrag_cnt {
  margin: 0 auto;
  width: 80%;
}

.posting_cnt:nth-child(odd) {
  background-color: #161616;
}

.posting_cnt {
  padding: 1.5rem 0;
}
.posting_cnt .posting_items {
  margin: 0 auto;
  width: 95%;
  align-items: center;
  padding-top: 1rem;
}

.comments {
  text-align: center;
  display: flex;
  align-items: center;
}
.comments a:first-child {
  padding-right: 2.5rem;
}
.comments a:nth-child(2) {
  border-left: 1px solid #fff;
  padding-left: 2.5rem;
}

.show_img_cnt {
  text-align: center;
  padding: 4rem 0;
}

.show_cnt {
  background-color: #161616;
  margin: 0 auto;
  width: 90%;
  flex-wrap: wrap;
}
.show_cnt .show_beitrag {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 3rem 0;
  align-items: center;
}
.show_cnt .show_beitrag .profil_cnt {
  padding-right: 4rem;
}
.show_cnt .show_beitrag .profil_cnt div {
  text-align: center;
}

.comment_header {
  padding: 3rem 0 1rem 0;
  margin: 0 auto;
  width: 90%;
}

.new_reply_cnt {
  margin: 0 auto;
  width: 90%;
}
.new_reply_cnt .reply_cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new_reply_cnt .reply_cnt .reply_background {
  background-color: #161616;
  margin: 0 auto;
  width: 100%;
}
.new_reply_cnt .reply_cnt .reply_background .text_area_sect {
  margin: 0 auto;
  width: 80%;
  padding: 1.5rem 0;
}
.new_reply_cnt .reply_cnt .reply_background .text_area_sect .text_area {
  color: #fff;
  background-color: #161616;
  width: 100%;
  height: 70px;
  padding: 1rem;
  border: 1px solid #fff;
  opacity: 0.4;
}
.new_reply_cnt .reply_cnt button {
  color: #b3cfdd;
  border: 1px solid #b3cfdd;
  border-radius: 5%;
  padding: 0.8rem 6rem;
  font-family: "Ubuntu", sans-serif;
  margin: 1rem;
}

.replies_background:nth-child(even) {
  background-color: #161616;
}

.panel {
  padding-top: 2rem;
}
.panel .panel-heading {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}
.panel .panel-heading .replies_cnt {
  display: flex;
  justify-content: space-between;
}
.panel .panel-heading .replies_cnt .replies_items {
  display: flex;
}
.panel .panel-heading .replies_cnt .replies_items h5 {
  padding-right: 1rem;
}
.panel .favorite_btn {
  padding-bottom: 1.2rem;
}
.panel .favorite_btn .fa-heart {
  padding-right: 0.5rem;
}
.panel .panel-footer {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: end;
}
.panel .panel-footer button:nth-child(1) {
  color: #fff;
}

.login_img_cnt img {
  width: 100%;
}

.login_cnt {
  display: flex;
  margin: 0 auto;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.login_cnt .panel-body {
  width: 23%;
}
.login_cnt .panel-body h2 {
  font-family: "zorqueregular";
  color: #fff;
  padding-bottom: 1rem;
}
.login_cnt form .textfield {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}
.login_cnt form .textfield label {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.login_cnt form .textfield input {
  background-color: #000;
  border: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5rem;
  color: #fff;
  outline: none;
}
.login_cnt form .checkbox {
  padding-top: 1.5rem;
}
.login_cnt form .checkbox label {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}
.login_cnt form .login_btn {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
.login_cnt form .login_btn button {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.6rem 4rem;
  background-color: #000;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}
.login_cnt form .login_btn a {
  padding-top: 1rem;
}
.login_cnt .register_sctn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
}
.login_cnt .register_sctn p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
.login_cnt .register_sctn a {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.6rem 4rem;
  background-color: #000;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

/*# sourceMappingURL=app.css.map */
