
// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

@font-face {
    font-family: 'zorqueregular';
    src: url('.../fonts/zorque.woff2') format('woff2'),
         url('../fonts/zorque.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Variables
@import "variables";


// Content
@import "general";

@import "nav";

@import "index";

@import "show";

@import "create";

@import "profile";

@import "login";

@import "willkommen";

@import "footer";


// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


