.index_header_img {
   img {
       width: 100%;
   }
}

.main_cnt {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;

    .category_cnt {
        display: flex;
        flex-direction: column;
        padding-bottom: 4rem;

        .all_posting_btn {
            border: 1px solid grey;
                border-radius: 5px;
                color: grey;
                text-align: center;
                padding: 0.7rem 2rem;
                font-size: 1.2rem;
                font-family: $font-family-sans-serif;
        }


        .category_btn {

            border: 1px solid grey;
            border-radius: 5px;
            color: grey;
            display: inline-flex;
            justify-content: center;
            word-wrap: break-word;
            padding: 0.7rem 2rem;
            font-size: 1.2rem;
            font-family: $font-family-sans-serif;
            
            p {
               margin: 0; 
            }
        }
    }


}

.diablo-cnt {
    padding-bottom: 5rem;

    div {
        padding-bottom: 2rem;
        width: 30%;
        
        img {
            width: 100%;
        }
    }


    h2 {
        color: #fff;
    }
}

.diablo_img {
    text-align: center;
    padding-bottom: 5rem;
    margin: 0 auto;
    width: 40%;

    img {
        width: 100%;
    }
}

.body {
    padding-bottom: 0.5rem;
    
    p {
        color: #fff;
    }
}

.beitrag_cnt {
    margin: 0 auto;
    width: 90%;

    p {
        font-size: 1.8rem;
        font-family: 'zorqueregular';
        text-align: center;
        padding-top: 4rem;
    }
}

.posting_cnt:nth-child(odd) {
    background-color: #161616;
}

.posting_cnt {

    padding: 1.5rem 0;

    .posting_items {
        margin: 0 auto;
        width: 95%;
        align-items: center;
        padding-top: 1rem;

        a {
            color: #fff !important;
        }
    }
}


.comments {
    text-align: center;
    display: flex;
    
    align-items: center;

    a:first-child {
        padding-right: 2.5rem;
    }

    a:nth-child(2) {
        border-left: 1px solid #fff;
        padding-left: 2.5rem;
    }
}



