.welcome_cnt {

    padding: 5rem 0;

    p {
        text-align: center;
        font-size: 2rem;
        font-family: 'zorqueregular';
    }
}

.welcome_img {
    padding-bottom: 2rem;


   img {
        width: 100%;
   }
}